.photos-container {
  margin: 0 auto;
}

@media (min-width: 768px) {
  .photos-container {
    margin: 50px 0;
  }
}

.photo {
  display: inline-block;
  width: 33.33%;
  padding-bottom: 33.33%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  margin-bottom: -6px;
}
