body {
  font-size: 14px;
}

.search-form {
  margin-top: 10px;
}

.search-form .form-group {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .search-form {
    margin-top: 50px;
  }
}

.content {
  margin: 0 -15px;
  overflow: hidden;
  position: relative;
  z-index: 0;
}

a {
  color: #262626;
}

a:hover {
  color: #262626;
  text-decoration: none;
}

.fa,
.fas,
.far,
.fal,
.fab {
  line-height: 24px;
}
