.search-form {
  margin-top: 1rem;
}

@media (min-width: 768px) {
  .search-form {
    margin-top: 50px;
  }
}

.content {
  margin: 20px -15px;
  overflow: hidden;
  position: relative;
  z-index: 0;
}
